{% extends 'base.html' %}
{% block content %}
    {% if request.user.is_authenticated %}
<div style="text-align:center; margin-top: 20px;">
  <a class="btn btn-outline-dark" href="{% url 'create task' %}">Create Task</a>
  <a class="btn btn-outline-dark" href="{% url 'tasks' %}">My Tasks</a>
  <a class="btn btn-outline-dark" href="{% url 'completed tasks' %}">Completed Tasks</a>
</div>
    {% endif %}
<div style="text-align:center; margin-top: 50px;" class ='container row'>
    {% if last_3_tasks|length > 0 %}
    <h2>Recent Tasks:</h2>
{% endif %}
    {% for task in last_3_tasks %}

    <div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 d-flex justify-content-center">
            <div class="card border-2 border-dark" style="width: 300px; background-color: #f8f9fa; /* Set background color */">
                <div class="card-body">
                    <div class="mt-3">
                        <h3 class="card-title text-center">{{ task.title }}</h3>
                        <p class="card-text text-center">Description: {{ task.description|truncatechars:100}}</p>
                        <a class="btn btn-outline-dark w-100" style="margin-bottom: 10px;" href="{% url 'edit task' pk=task.pk %}">Edit</a>
                         <form action="{% url 'complete task' task.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button class="btn btn-outline-dark w-100" type="submit">Complete</button>
                         </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% empty %}
    <p>You do not have any tasks yet</p>
  {% endfor %}
</div>
{% endblock %}
