{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 d-flex justify-content-center">
            <div class="card border-2 border-dark" style="width: 300px; background-color: #f8f9fa;">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <img src="{{ current_profile.image.url }}" style="object-fit: cover; width: 120px; height: 120px;" class="profile-picture rounded-circle">
                    </div>
                    <div class="mt-3">
                        <h5 class="card-title text-center">{{ current_profile.username }}</h5>
                        <p class="card-text text-center">{{ current_profile.email }}</p>
                        {% if current_user.pk == current_profile.pk %}
                            <p class="card-text text-center">Age: {{ current_profile.age }}</p>
                            {% if current_profile.first_name %}
                                <p class="card-text text-center">{{ current_profile.first_name }}</p>
                            {% endif %}
                            {% if current_profile.last_name %}
                                <p class="card-text text-center">{{ current_profile.last_name }}</p>
                            {% endif %}
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <a class="btn btn-outline-dark w-100" href="{% url 'edit profile' pk=current_user.pk %}">Edit</a>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-outline-dark w-100" href="{% url 'delete profile' pk=current_user.pk %}">Delete</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="card-footer border-0 bg-transparent">
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        {% if in_contacts %}
                                            <form method="post" action="{% url 'remove_contact' user_b_id=current_profile.pk %}">
                                                <button class='btn btn-outline-dark w-100' type="submit">Remove</button>
                                                {% csrf_token %}
                                            </form>
                                        {% else %}
                                            <form method="post" action="{% url 'add_contact' user_b_id=current_profile.pk %}">
                                                <button class='btn btn-outline-dark w-100' type="submit">Add</button>
                                                {% csrf_token %}
                                            </form>
                                        {% endif %}
                                    </div>
                                    <div class="col-6">
                                        <a class="btn btn-outline-dark w-100" href="{% url 'user tasks' user_id=current_profile.pk %}">Tasks</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
