{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="text-center">Create Task</h1>
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-4 card border-2 border-dark">
            <form class = 'text-center' method="post" autocomplete="off" action="{% url "create task" %}" enctype="multipart/form-data" style="margin-bottom: 10px;">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-outline-dark"  type ='submit'>Create</button>
                <a class="btn btn-outline-dark"  href="{% url 'home' %}">Cancel</a>
            </form>

        </div>
    </div>
</div>
{% endblock %}
