{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-top: 10px">
    <div class="row justify-content-center">
        <div class="col-md-4 card border-2 border-dark">
            <form class='text-center' method="post" autocomplete="off" action="{% url "edit task" pk=task.pk %}" enctype="multipart/form-data" style="margin-bottom: 10px;">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-outline-dark" type ='submit'>Save</button>
                <a class="btn btn-outline-dark" href="{% url 'home' %}">Cancel</a>
        
            </form>
            </div>
        </div>
    </div>
{% endblock %}
